.services .single-service .service-icon,
.services .single-service h3 {
    color: #008ed6;
}

body {
    background: #232323;
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #c8c8c8;
    line-height: 28px;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
}