//
// JUMBOTRON
//
.jumbotron {
    background-image: url("/images/cityscape.jpg");
}

.jumbotron .mobiletalk-logo {
    float: left;
    margin-left: 10%;
}

.jumbotron h2 {
    margin-top: 62px;
    float: left;
    margin-left: 10%;
    width: 40%;
    text-align: left;
}

.jumbotron #front-images {
    position: relative;
    float: right;
    width: 45%;
    height: 380px;
}

.jumbotron #front-images img {
    position: absolute;
    left: -100px;
}


//
// FONT COLOR
//
.badge-text,
.section-text,
.section-header,
.badge-icon
{
    color: #069;
}

.red {
    color: #e92424;
}

body {
    text-align: center;
    font-family: "Open Sans",sans-serif
}

//
// RIGHT-SIDE NAVIGATION
//

#nav {
    position: fixed;
    right: 0px;
    top: 40%;
    z-index: 4000;
    padding-right: 5px;
}



//
// CONTACT BUTTON
//

#contact-panel {
    text-align: left;
    position: fixed;
    left: 0;
    top: 40%;
    z-index: 4000;
}

#contact-drawer {
    background-color: #fff;
    position: relative;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    top: -5px;
}

#contact-drawer.collapsed {
    overflow: hidden;
    height: 1px;
}

#contact-drawer.slid {
    left: -190px;
}

.contact-title {
}

.contact-icon {
    text-align: center;
    font-size: 24px;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

#contact-slider {
    position: relative;
    z-index: 5;
    background-color: #fff;
    height: 2em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#contact-slider.collapsed {
    left: -190px;
    background-color: #e92424;
}

#contact-close {
    margin-right: 5px;
}

#contact-close.transition {
    opacity: 0;
}

#contact-close.closed {
    color: #fff;
    opacity: 1;
}

#contact-close.closed:hover {
    color: lime;
}

.contact-slider button {
    margin-right: 5px;
}

.contact-section {
    margin-bottom: 10px;
}

.contact-bottom {
    margin-top: 25px;
    font-size: 18px;
}

//
// MAP STYLINGS
//

#map-canvas {
    height: 700px;
}

#map-legend {
    width: 210px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#map-legend h3 {
    margin-top: 0px;
    font-size: 14px;
    font-weight: bold;
}

.legend-row {
    clear: both;
}

.legend-value-border {
    width: 1em;
    height: 1em;
    border: 1px solid black;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 6px;
}

.legend-value {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.legend-value.red {
    background-color: crimson;
}

.legend-value.blue {
    background-color: dodgerblue;
}

.legend-label {
    font-family: Roboto, Arial, sans-serif;
    text-align: left;
    line-height: 28px;
    padding-left: 5px;
    padding-right: 5px;
}



.badge-icon {
    font-family: none;
    border: 2px solid #069;
    font-size: 5em;
    width: 1.85em;
    height: 1.85em;
    padding-top: 0.4em;
    margin: auto;
    line-height: 0;
}

.badge-text {
    margin-top: 20px;
}

.badge-icon-circle {
    border-radius: 50%;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1.75em;
    font-weight: 200;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    line-height: 1.25em;
}

//
// SECTION ELEMENTS
//

.section-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-spacer-top {
    height: 10px;
    background: linear-gradient(white, #069);
}

.section-spacer {
    background-position: top center;
    height: 400px;
    background-color: #069;
}

.section-spacer-1 {
    background: url("/images/bg-driver.jpg") no-repeat top center;
}

.section-spacer-2 {
    background: url("/images/bg-hvac.jpg") no-repeat top center;
}

.section-spacer-3 {
    background: url("/images/bg-truck.jpg") no-repeat top center;
}

.section-spacer-4 {
    background: url("/images/bg-factory.jpg") no-repeat top center;
}

.section-spacer-5 {
    background: url("/images/bg-security.jpg") no-repeat top center;
}

.section-spacer-bottom {
    height: 10px;
    background: linear-gradient(#069, white);
}

.section-header {
    margin-top: 23px;
    margin-bottom: 23px;
}

.section-text {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 6%;
    margin-right: 6%;
    font-weight: 700;
    font-size: 17px;
}

#footer {
    margin-top: 256;
    margin-bottom: 256;
}

.tiny {
    font-size: 0.75em;
}

//
// PLANS
//

.plan {
    background: #fafafa;
    padding-bottom: 1.5em;
    margin-bottom: 2em;
    border-bottom: 3px solid #efefef;
}

.plan ul {
    list-style: outside none none;
    font-size: 20px;
    padding-left: 0px;
    margin-bottom: 1em;
}

.plan .amount {
    font-weight: bold;
}

#plan-orange .plan-head {
    background: #f28200;
}

#plan-blue .plan-head {
    background: #004363;
}

#plan-green .plan-head {
    background: #00ac4b;
}

.plan-banner-blank {
    height: 2.5em;
    display: none;
}

.plan-head {
    color: white;
    font-size: 1.8em;
    border-bottom: 3px solid #efefef;
    margin-bottom: 0.5em;
    line-height: 2em;
    text-transform: uppercase;
    text-shadow: 0px 1px 2px #444;
}

.plan-monthly-price {
    font-size: 1.875em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5em;
}

.plan-yearly-price {
    padding: 0.5em 0px;
    margin-bottom: 1.25em;
    background: #ececec;
}

@media (min-width: 992px) {
    .col-md-triple {
        width: 25%;
        float: left;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .col-md-triple-buffer {
        width: 12.5%
        float: left;
        position: relative;
        min-height: 1px;
    }
}
