@import 'nib'

a, a:link
	cursor pointer

body {
    padding-top 60px
    background #232323
    font-family News Cycle, sans-serif
    font-size 16px
    font-weight 300
    color #c8c8c8
    line-height 28px
    text-align center
    overflow-x hidden !important
    margin auto !important
}

header {
    background: url('../images/metal2_opt4.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
            background-size: cover;
}

.translucent {
    background: rgba(0, 0, 0, 0.55);
    min-height: 800px;
}

h1.jist {
  margin-bottom 65px
}
      
h2 {
    font-family News Cycle, sans-serif
}

.colored-line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
}

table
	tfoot, tbody
		th
			border-top 1px solid #DDD
            
#logo {
    padding-top 25px;
    padding-bottom 125px;
}

.services {
    padding-top 75px;
    padding-bottom 55px;
    background #222;
        
}

.services .single-service .service-icon,
.services .single-service h3 {
    color: #008ed6;
}

.service-icon {
    font-size: 80px;
}

input {
    margin-bottom: 2px;
}

.contact-email-wrapper
.contact-phone-wrapper
.contact-txt-wrapper
.contact-button-wrapper
    display none


.subscription-form .subscription-success,
.subscription-form .subscription-error {
    display: none;
}